body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1074px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:625px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:46px;
  width:1000px;
  height:625px;
}
#u1700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(253, 230, 55, 1);
  border-radius:48px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FDE637;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:600px;
  width:95px;
  height:51px;
  font-size:20px;
  color:#FDE637;
}
#u1701_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:91px;
  word-wrap:break-word;
}
#u1702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(253, 230, 55, 1);
  border-radius:48px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FDE637;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:600px;
  width:95px;
  height:51px;
  font-size:20px;
  color:#FDE637;
}
#u1702_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:91px;
  word-wrap:break-word;
}
#u1703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:51px;
  background:inherit;
  background-color:rgba(253, 230, 55, 1);
  border:none;
  border-radius:48px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:600px;
  width:95px;
  height:51px;
  font-size:20px;
}
#u1703_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:91px;
  word-wrap:break-word;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:597px;
  width:103px;
  height:57px;
  overflow:hidden;
}
#u1704_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1704_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:597px;
  width:95px;
  height:57px;
  overflow:hidden;
}
#u1705_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:57px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1705_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#E4E4E4;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:343px;
  width:225px;
  height:32px;
  font-size:28px;
  color:#E4E4E4;
}
#u1706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
