body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1074px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:625px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:46px;
  width:1000px;
  height:625px;
  color:#CCCCCC;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:190px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:201px;
  width:190px;
  height:190px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:152px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:220px;
  width:152px;
  height:152px;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:152px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:220px;
  width:152px;
  height:152px;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:2px 2px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 10px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
  color:#333333;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:436px;
  width:140px;
  height:40px;
  font-size:18px;
  color:#333333;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:478px;
  width:196px;
  height:159px;
  overflow:hidden;
}
#u186_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:159px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u186_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:16px;
  width:169px;
  height:53px;
  font-size:14px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:165px;
  word-wrap:break-word;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:68px;
  width:169px;
  height:53px;
  font-size:14px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:165px;
  word-wrap:break-word;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:12px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:5px;
  width:21px;
  height:12px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:72px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:45px;
  width:1000px;
  height:72px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:57px;
  width:49px;
  height:49px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:69px;
  width:15px;
  height:25px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:72px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:54px;
  width:49px;
  height:55px;
  overflow:hidden;
}
#u194_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:55px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u194_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:202px;
  width:37px;
  height:23px;
  font-size:18px;
  color:#000000;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:202px;
  width:37px;
  height:23px;
  font-size:18px;
  color:#000000;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:262px;
  width:37px;
  height:23px;
  font-size:18px;
  color:#000000;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:189px;
  width:196px;
  height:44px;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:192px;
  word-wrap:break-word;
}
#u199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:189px;
  width:84px;
  height:44px;
  font-size:14px;
  color:#CCCCCC;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:203px;
  width:44px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u200_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:189px;
  width:84px;
  height:44px;
  font-size:14px;
  color:#CCCCCC;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:203px;
  width:50px;
  height:19px;
  font-size:16px;
  color:#CCCCCC;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u202_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:251px;
  width:84px;
  height:44px;
  font-size:18px;
  color:#CCCCCC;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:80px;
  word-wrap:break-word;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#915D4F;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:262px;
  width:19px;
  height:23px;
  font-size:18px;
  color:#915D4F;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:252px;
  width:53px;
  height:44px;
  font-size:18px;
  color:#CCCCCC;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:49px;
  word-wrap:break-word;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#915D4F;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:263px;
  width:19px;
  height:23px;
  font-size:18px;
  color:#915D4F;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:252px;
  width:53px;
  height:44px;
  font-size:18px;
  color:#CCCCCC;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:49px;
  word-wrap:break-word;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#915D4F;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:263px;
  width:19px;
  height:23px;
  font-size:18px;
  color:#915D4F;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:325px;
  width:37px;
  height:23px;
  font-size:18px;
  color:#000000;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:314px;
  width:128px;
  height:44px;
  font-size:16px;
  color:#000000;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  word-wrap:break-word;
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:389px;
  width:37px;
  height:23px;
  font-size:18px;
  color:#000000;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:378px;
  width:361px;
  height:44px;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:357px;
  word-wrap:break-word;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:455px;
  width:37px;
  height:23px;
  font-size:18px;
  color:#000000;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:445px;
  width:109px;
  height:44px;
  font-size:14px;
  color:#CCCCCC;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:458px;
  width:72px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u215_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:445px;
  width:109px;
  height:44px;
  font-size:14px;
  color:#CCCCCC;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:458px;
  width:73px;
  height:19px;
  font-size:16px;
  color:#CCCCCC;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u217_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:445px;
  width:109px;
  height:44px;
  font-size:14px;
  color:#CCCCCC;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:458px;
  width:73px;
  height:19px;
  font-size:16px;
  color:#CCCCCC;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u219_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:322px;
  width:28px;
  height:28px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:148px;
  width:668px;
  height:505px;
  overflow:hidden;
}
#u221_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:505px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u221_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:60px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:552px;
  width:470px;
  height:60px;
  font-size:20px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:466px;
  word-wrap:break-word;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:235px;
  width:424px;
  height:272px;
  overflow:hidden;
  visibility:hidden;
}
#u223_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:272px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u223_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:231px;
  background:-webkit-linear-gradient(270deg, rgba(253, 230, 55, 1) 0%, rgba(253, 230, 55, 1) 0%, rgba(255, 218, 42, 1) 100%, rgba(255, 218, 42, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(253, 230, 55, 1) 0%, rgba(253, 230, 55, 1) 0%, rgba(255, 218, 42, 1) 100%, rgba(255, 218, 42, 1) 100%);
  background:linear-gradient(180deg, rgba(253, 230, 55, 1) 0%, rgba(253, 230, 55, 1) 0%, rgba(255, 218, 42, 1) 100%, rgba(255, 218, 42, 1) 100%);
  border:none;
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:34px;
  width:385px;
  height:231px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:104px;
  width:381px;
  word-wrap:break-word;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:9px;
  width:56px;
  height:56px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:9px;
  background:-webkit-linear-gradient(270deg, rgba(253, 230, 55, 1) 0%, rgba(253, 230, 55, 1) 0%, rgba(255, 218, 42, 1) 100%, rgba(255, 218, 42, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(253, 230, 55, 1) 0%, rgba(253, 230, 55, 1) 0%, rgba(255, 218, 42, 1) 100%, rgba(255, 218, 42, 1) 100%);
  background:linear-gradient(180deg, rgba(253, 230, 55, 1) 0%, rgba(253, 230, 55, 1) 0%, rgba(255, 218, 42, 1) 100%, rgba(255, 218, 42, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:32px;
  width:28px;
  height:9px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:9px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:32px;
  width:28px;
  height:9px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:9px;
  width:56px;
  height:56px;
  overflow:hidden;
}
#u228_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u228_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
